@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@600;700;800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #2e6dfa;
  --color-accent: #f79919;
  --color-navy: #081226;
}

:root {
  font-family: "DM Sans", sans-serif;
  color: #081226;
  background: #f8fbff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
button,
strong {
  font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-width: 320px;
}
button,
input {
  font: inherit;
}
